

  <div class="container h-100" style="margin-left: 38%; margin-top: 5%">

  <div class="row" style="margin-top: 20px">
    <h2>Add New Patient</h2>
  </div>

  <div class="row">
    <form action="#" th:action="@{/patient/add}" th:object="${patient}" method="post" class="form-horizontal"
        style="width: 100%"> <!--controller url -->

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" id="firstName" placeholder="FirstName" class="col-4"
              th:field="*{firstName}">
          <p class="text-danger" th:eath:if="${#fields.hasErrors('firstName')}"
            th:errors="*{firstName}">Error FirstName
          </p>
        </div>
      </div>

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" id="lastName" placeholder="LastName" class="col-4"
              th:field="*{lastName}" >
          <p class="text-danger" th:if="${#fields.hasErrors('lastName')}"
            th:errors="*{lastName}">Error LastName
          </p>
        </div>
      </div>

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label for="dob" class="col-sm-2 control-label">Date of birth</label>
        <div class="col-sm-10">
          <input type="date" id="dob" placeholder="Date of birth" class="col-4"
              th:field="*{dob}" th:text="${#dates.format(patient.dob, 'yyyy-MM-dd')}">
          <p class="text-danger" th:if="${#fields.hasErrors('dob')}"
            th:errors="*{dob}">Choice a birthdate
          </p>
        </div>
      </div>

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label for="genre" class="col-sm-2 control-label">Genre</label>
        <div class="col-sm-10">
          <label class="checkbox-inline"><input type="radio" id="genre" th:field="*{genre}" th:value="F">F</label>
          <label class="checkbox-inline"><input type="radio" th:field="*{genre}" th:value="M">M</label>
          <p class="text-danger" th:if="${#fields.hasErrors('genre')}"
            th:errors="*{genre}"> Choice a genre
          </p>
        </div>
      </div>

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type="text" id="address" placeholder="Address" class="col-4"
              th:field="*{address}" >
        </div>
      </div>

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
          <input type="text" id="phone" placeholder="Phone" class="col-4" th:field="*{phone}"><!--pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"-->
        </div>
      </div>

      <div class="form-group" style="margin-top: 20px">
        <div class="col-sm-12">
          <input class="btn btn-primary" type="submit" value="Add new Patient">
          <a class="btn btn-outline-danger" href="/patient/list">Cancel</a> <!-- controller url-->
        </div>
      </div>
     </form>
  </div>
</div>

